body {
  max-width: 500px;
}

.logform {
  width: 50%; 
  display: inline-block; 
  padding: 5px;
  margin: 5px;
  border: 0.5px black;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 25%;
  justify-content: center;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.sigform {
  width: 50%; 
  display: inline-block; 
  padding: 5px;
  margin: 5px;
  border: 0.5px black;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 25%;
  justify-content: center;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.btn {
  padding: 6px 24px;
  background: blueviolet;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px auto;
  padding-top: 10px;
  color: white;
}

.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  margin-bottom: 10px;
}
